<!-- Code: 5.1 -->
<!-- ./src/app/app.component.html -->

<div style="text-align:center">  
  <h1>  {{title}}!!  </h1>  
  <h4 *ngIf="loading">Please wait...</h4>  
</div>  
<ul>  
  <li *ngFor="let item of items">{{item}}</li>  
</ul>
<!-- tab -->
<app-tab></app-tab>
<app-quote></app-quote>

<!-- //component communication -->
<div>
  <h2>Comments</h2>
  <app-comment-list [comments]="comments"
  (onShowComment)="onShowComment($event)">
  </app-comment-list>
  
<!-- counter -->
  <h2>Counter</h2>
  <app-counter #counter></app-counter>
  <button (click)="counter.increment()">++</button>
  <button (click)="counter.decrement()">--</button>

</div>


